body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator-container {
  border: 5px solid #343838;
  background: #343838;
  border-radius: 50px;
  width: 23vw;
  height: 38vw;
  box-shadow: 7px 5px 50px 5px rgba(0,0,0,0.5);
}

#output {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 19vw;
  padding-right: 2vw;
  margin: 15px auto 10px auto;
  border-radius: 36px;
  height: 15vh;
  border: none;
  text-align: right;
  font-size: 6.5vh;
  background: #FC466B;
  color: #EEE0CB;
}

#btnContainer {
  display: flex;
  width: 22vw;
  margin: 0 auto;
}

#buttons,
#top-functions,
#operations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#operations {
  width: 5.5vw;
}

#number-btns button,
#top-functions button,
#operations button {
  width: 4.5vw;
  height: 4.5vw;
  border: none;
  border-radius: 50%;
  background-color: #3F5EFB;
  color: #EEE0CB;
  font-size: 4vh;
  margin: 0.5vw;
}

#top-functions button {
  background: #864ead;
}

#operations button {
  background: #FC466B;
}

#number-btns button:hover,
#top-functions button:hover,
#operations button:hover  {
  background: #FC466B;
  cursor: pointer;
  transition: 500ms;
}

#top-functions button:hover {
  background: #3F5EFB;
}

#operations button:hover {
  background-color: #864ead;
}

/* makes 0 btn wider */
#number-btns button:nth-of-type(10){
  border-radius: 32px;
  width: 10vw;
}